@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@font-face {
    font-family: ebrima;
    src: url(ebrimabd.ttf);
}
@font-face {
    font-family: poor richard;
    src: url(POORICH.TTF);
}
@font-face {
    font-family: myriad;
    src: url(MYRIADPRO-REGULAR.OTF);
}
@font-face {
    font-family: haetten;
    src: url(haetten.ttf);
}
@font-face {
    font-family: script;
    src: url(SCRIPTBL.TTF);
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html,body{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    transition: scroll-behavior .5s;
}
.home-container{
    background-image: url(./photofile/body.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.banner{
    background-image: url(./photofile/banner@3x.png);
    background-size: 100% 100%;
    background-repeat: none;
    height: 60rem;
}
.logo a{
    font-size: 4rem;
    font-family: ebrima;
    font-weight: bold;
    color: white;
}
.img-logo img{
    height: 7rem;
}
.hide{
    display: none;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
}

.nav-bar{
    display: none;
    border: 1px solid white;
    padding: 1rem;
}
.nav-bar img{
    height: 2rem;
}
nav ul{
    display: flex;
    gap: 3rem;
}
nav > ul > li > a{
    font-size: 1.7rem;
    color: white;
    font-family: ebrima;
    padding: .5rem .7rem;
    border-radius: .2rem;
}


.dropdown{
    position: relative;
}
.dropdown-content{
    font-family: ebrima;
    left: 0;
    opacity: 0;
    top: 1rem;
    width: 150%;
    visibility: hidden;
    position: absolute;
    background-color: #ED1E66;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: all .25s ease;
}
.dropdown:hover .dropdown-content{
	opacity: 1;
	top: 3rem;
	visibility: visible;
}
.dropdown-content a{
    color: white;
    padding: 1rem 1.6rem;
    text-decoration: none;
    display: block;
    font-size: 1.6rem;
    text-align: left;
}
.dropdown-content a:hover{
    background-color: #0000FF;
    color: white;
    cursor: pointer;
    transition: 400ms;
}



.inverted-2 {
    background:
      linear-gradient( 90deg, #000  50%, #fff 0),
      linear-gradient(-90deg, #000  50%, #fff 0),
      linear-gradient( 90deg, #0000 50%, #ED1E66 0),
      linear-gradient(-90deg, #0000 50%, #ED1E66 0);
    background-repeat: no-repeat;
    background-size: 200% 51%;
    background-position: top left, bottom right;
    -webkit-background-clip: text, text, padding-box, padding-box;
            background-clip: text, text, padding-box, padding-box;
    transition: 0.8s;
    padding: .5rem .7rem;
  }

  .inverted-2:hover {
    background-position: top right, bottom left;
  }

/* responsive nav */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    background-color: #3f3fb5;
    overflow-x: hidden;
    transition: 0.5s;
    font-family: ebrima;
  }
  .overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: right;
    margin-top: 30px;
  }
  .overlay a{
    width: fit-content;
    padding: 20px 50px;
    text-decoration: none;
    font-size: 2.8rem;
    color: white;
    display: block;
    transition: 0.3s;
  }

  .overlay a:hover, .overlay a:focus {
    color: #ED1E66;
  }

  .overlay .closebtn {
    position: absolute;
    top: -3rem;
    right: -5.5rem;
    font-size: 6rem;
  }


  .ser-btn button{
    width: fit-content;
    padding: 20px 50px;
    font-size: 2.8rem;
    color: white;
    display: block;
    transition: 0.3s;
    background-color: transparent;
    border: none;
    font-weight: bold;
}
.ser-btn button:hover{
    color: #ED1E66;
}
.panel{
    max-height: 0;
    overflow: hidden;
    transition: max-height 400ms ease-out;
    background-color: crimson;
}
.ser-btn:hover .panel{
    max-height: 90rem;
}
.panel a:hover{
    color: #381DFF;
}



.banner-content-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-img img{
    height: 41rem;
}
.banner-content{
    display: flex;
    flex-direction: column;
    font-family: ebrima;
    padding: 0 6rem;
}
.banner-title{
    font-size: 1.9rem;
    color: #ED1E66;
    font-weight: bold;
}
.b-head{
    font-size: 4rem;
    color: #ED1E66;
    font-weight: bolder;
    margin: 1rem 0;
    max-width: 90%;
}
.more-btn button{
    font-size: 2.4rem;
    background-color: #381DFF;
    color: white;
    border: none;
    outline: none;
    padding: 1rem 2rem;
    border-radius: 2rem;
    cursor: pointer;
}
.more-btn button:hover{
    background-color: #ED1E66;
    transition: .3s;
}
/*
what-we do section starts here */

.what-container{
    background: url(./photofile/wh-we-do-cover@3x.png) no-repeat;
    background-size: cover;
    margin-top: 1rem;
    position: relative;
}
.what-content-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
}
.what-img img{
    height: 55rem;
}
.what-content > h2{
    font-size: 4rem;
    color: #ED1E66;
    font-family: ebrima;
    width: fit-content;
}
.what-content p{
    font-size: 1.8rem;
    color: black;
    font-weight: bold;
    font-family: ebrima;
    margin: 1.5rem 0;
}
.learn-btn button{
    background-color: #381DFF;
    outline: none;
    border: none;
    font-size: 2.4rem;
    font-family: ebrima;
    color: white;
    cursor: pointer;
    border-radius: 2rem;
    padding: 1rem 2rem;
}
.what-content{
    max-width: 30%;
    z-index: 1;
}
.dot img{
    position: absolute;
    height: 60rem;
    top: 10rem;
}
.project-ex{
    text-align: center;
    font-family: ebrima;
    font-size: 4.6rem;
    font-weight: bolder;
    color: #381DFF;
    background-color: #e8dde2;
    max-width: 70%;
    margin: 4rem auto;
    border-radius: 8rem;
    padding: 2rem 12rem;
}
.project-ex > span{
    color: #ED1E66;
}

/* services starts here */
.service-container{
    position: relative;
}
.service-flexbox{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 45rem;
    padding: 0 2rem;
}
.service-content{
    font-family: ebrima;
    max-width: 45%;
    padding: 2rem;
    z-index: 10;
}
.service-flexstart{
    justify-content: flex-start;
}
.service-2{
    max-height: 55rem;
}
.service-3{
    max-height: 40rem;
}
.service-5{
    max-height: 20rem;
}
.ser-head{
    font-size: 2.4rem;
    font-weight: bolder;
}
.service-btn button{
    font-size: 1.8rem;
}
.service-content > p{
    font-size: 1.6rem;
    margin: 1rem 0;
    color: #A09292;
}
.blue-de img{
    height: 200rem;
}
.blue-de{
    position: absolute;
    top:  2rem;
    left: 250px;
}
.ser-img3,.ser-img1,.ser-img2,.ser-img4,.ser-img5{
    position: absolute;
    background-image: linear-gradient(to right top, #1c191b, #403d40, #676668, #929193, #bfbfc0, #d4d4d5, #e9e9ea, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
    z-index: 1;
    height: 36rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36rem;
    transition: all 400ms ease-in-out;
    filter: drop-shadow(7rem -4.5rem 3.5rem rgba(0, 0, 0, 0.61));
    border-radius: 100%;
}
.ser-img1{
    top: 3.5rem;
    left: 26.5rem;
}
.ser-img1:hover,.ser-img2:hover,.ser-img3:hover,.ser-img4:hover,.ser-img5:hover{
    filter: drop-shadow(7rem -4.5rem 3rem rgba(0, 0, 0, 0.81));
}
.ser-img1 img,.ser-img2 img,.ser-img3 img,.ser-img4 img,.ser-img5 img{
    height: 26rem;
}
.ser-img2{
    top: 47rem;
    left: 69.5rem;
}
.ser-img3{
    top: 90.5rem;
    left: 26.5rem;
}
.ser-img4{
    top: 134rem;
    left: 70rem;
}
.ser-img5{
    top: 164.5rem;
    left: 28.5rem;
}











/* digital part starts here */
.digital-sec-container{
    margin-top: 20rem;
    background: url(./photofile/digital-sol-part-cover@3x.png);
    font-family: ebrima;
    padding-bottom: 5rem;
}
.digital-header{
    font-size: 4.6rem;
    text-align: center;
    color: #ED1E66;
    font-weight: bolder;
    max-width: 50%;
    margin: auto;
}
.digital-header span{
    color: #381DFF;
}
.achievment{
    display: flex;
    justify-content: space-around;
    background-color: #97a6ea;
    padding: 2rem;
    margin: 4rem 0;
}
.achie-txt{
    font-size: 2.7rem;
    text-align: center;
    font-weight: bolder;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 30%;
}
.achie-txt span{
    font-size: 5.7rem;
    font-weight: bolder;
}
.logo1 img{
    height: 6rem;
}
.logo3 img{
    height: 8rem;
}
.company-logo{
    display: flex;
    justify-content: space-around;
    padding: 4rem 0;
}
.logo-2 img{
    height: 14rem;
}
.logo1,.logo3{
    align-self: flex-end;
}

/* about-container starts here */
.about-container{
    display: flex;
    align-items: center;
    background:url(./photofile/about-cover@3x-100.jpg);
    justify-content: space-between;
    padding: 6rem 0;
}
.about-img img{
    max-height: 50rem;
}
.about-content{
    font-family: ebrima;
    padding: 2rem  6rem;
}
.about-content h2{
    font-size: 4.9rem;
    font-weight: bolder;
}
.about-content p{
    font-size: 1.6rem;
    margin: 1.5rem 0;
    font-weight: bold;
}


/* connnect-container starts here */
.connect-container{
   background-image: url(./photofile/connect-cover_1@3x.png);
   background-repeat: no-repeat;
   background-size: 100% 100%;
   height:100rem;
   font-family: ebrima;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: -2rem;
   position: relative;
}
.connect-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    border-radius: 1rem;
    justify-content: center;
    background-color: white;
}
.connect-input-ctrl{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}
.flex-input{
    display: flex;
    gap: 2rem;
}
.input-ctrl input,textarea{
    width: 100%;
}
.connect-head{
    font-size: 4rem;
    font-weight: bold;
}
.input-ctrl input,.input-ctrl textarea{
    outline: none;
    padding: 2rem;
    font-size: 1.4rem;
    border-radius: 4rem;
}
input[type=checkbox] {
    transform: scale(2);
}
.terms-box{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
    gap: 2rem;
}
.terms-box span{
    color: #381DFF;
}
.send-btn button{
    outline: none;
    border: none;
    background-color: #381DFF;
    color: white;
    font-size: 2.4rem;
    padding: 2rem;
    border-radius: 3rem;
    cursor: pointer;
}
.send-btn{
    width: fit-content;
    margin: auto;
}
.send-btn button:hover{
    background-color: #ED1E66;
    transition: .3s;
}


/* contact part starts here */
.contact-container{
    background-image: url(./photofile/contact-cover@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 90rem;
    margin-top: -50rem;
}
.contact-card-container{
    display: flex;
    justify-content: center;
    gap: 4rem;
}
.contact-card{
    display: flex;
    font-family: ebrima;
    font-weight: bold;
    gap: 2rem;
    margin-top: 55rem;
}
.contact-info{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.6rem;
    font-weight: bold;
}
.contact-icon img{
    height: 4rem;
}

/* footer starts here */
footer{
    background: url(./photofile/footer@3x.png) no-repeat;
    height: 60rem;
    background-size: cover;
    margin-top: -20rem;
    font-family: ebrima;
    padding: 0 8rem;
}
.f-head{
    margin-bottom: 2rem;
    font-weight: bold;
}
footer li {
    margin: 1.5rem 0;
    font-size: 1.8rem;
    color: black;
}
footer li a{
    color: black;
}
footer li a:hover{
    color: #ED1E66;
    transition: .3s;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.footer-row{
    margin-top: 8rem;
}
.copywright{
    font-size: 1.8rem;
    margin: 15rem 0;
    width: fit-content;
    font-weight: bold;
}




/* nft page starts here */
.content{
    background-image: url(./NFT-DEV/body-cover@3x.png);
    background-size: cover;
}
.nft-nav{
    background: url(./NFT-DEV/nav-cover\ edited.png);
    background-size: 100% 100%;
    height: 30rem;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
}
.nft-banner-content h2{
    font-size: 4rem;
    font-size: bold;
}
.nft-banner-container{
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-around;
    padding: 8rem 0;
    margin-top: -15rem;
}
.nft-banner-content{
    max-width: 30%;
}
.nft-banner-content p{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
    margin: 1rem 0;
}
.nft-learn-btn button{
    font-size: 1.4rem;
    outline: none;
    padding: 1rem;
    border-radius: 1.5rem;
    background-color: #381DFF;
    color: white;
    border: none;
    margin-top: 1rem;
}
.nft-learn-btn button:hover{
    background: #ED1E66;
    transition:  .4s;
}
.nft-banner-img img{
    height: 40rem;
}
.category-container h2{
    font-size: 4rem;
    margin: auto;
    width: fit-content;
    padding: 1rem 6rem;
    background-image: linear-gradient(to right, #29abe2, #199ae8, #3f87e7, #696fde, #8e50c9);
    border-radius: 4rem;
    font-family: ebrima;
}
.category-wrapper{
    position: relative;
}
.category-img{
    height: 40rem;
    position: relative;
}
.category-txt{
    position: absolute;
    top: 0;
    font-size: 2.4rem;
    max-width: 50%;
    text-align: center;
    color: white;
    left: 12rem;
    top: 11rem;
}
.category-card{
    display: grid;
    grid-template-columns: auto auto auto;
    place-items: center;
    margin: 5rem;
}
.categories-des{
    background-image: linear-gradient(to right, #29abe2, #199ae8, #3f87e7, #696fde, #8e50c9);
    width: fit-content;
    font-size: 4rem;
    padding: 1rem 4rem;
    color: white;
    border-top-right-radius: 4rem;
    border-bottom-right-radius: 4rem;
    font-family: ebrima;
}
.blue-border-card{
    background-image: url(./NFT-DEV/blue@3x.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 40rem;
    display: flex;
    align-items: center;
    max-width: 90%;
    gap: 6rem;
    font-family: ebrima;
    margin:auto;
}
.blue-content-wrapper{
    font-family: myriad;
    display: flex;
    justify-content: space-between;
    max-width: 60%;
    margin: auto;
    align-items: center;
}
.yellow{
    background-image: url(./NFT-DEV/yellow@3x.png);
}
.pink{
    background-image: url(./NFT-DEV/pink@3x.png);
}
.green{
    background-image: url(./NFT-DEV/green@3x.png);
}
.blue-border-card h2{
    font-family: myriad;
    font-size: 5rem;
    letter-spacing: .2rem;
    font-weight: 100;
    text-decoration: underline .2rem;
}
.blue-content-wrapper span{
    font-weight: 1000;
}
.blue-border-card p{
    font-size: 1.4rem;
    max-width: 60%;
    text-align: justify;
}


.facts-container{
    margin-top: 15rem;
}
.fact-header{
    font-family: poor richard;
    font-size: 7rem;
    margin: 2rem auto;
    width: fit-content;
}
.number-card{
    background-image: url(./NFT-DEV/number-card@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    position: relative;
}
.number{
    font-size: 4rem;
   text-align: center;
   color: white;
   font-weight: 1000;
   margin-bottom: 2rem;
}
.num-card-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.num-card-wrapper span{
    font-size: 4rem;
    font-weight: 1000;
    font-family: Arial, Helvetica, sans-serif;
}
.number-card-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    font-family: ebrima;
    place-items: center;
}


.step-container{
    position: relative;
    padding: 8rem;
    width: 90%;
    margin-left: 10rem;
}
.step1{
    background: url(./NFT-DEV/step1@3x.png) no-repeat;
    background-size: contain;
    /* background-color: red; */
    height: 60rem;
    width: 60rem;
    position: relative;
}
.step-content h2{
    font-size: 5rem;
    font-weight: bolder;
}
.step-content{
    font-family: myriad;
    position: absolute;
    left: 13rem;
    display: flex;
    flex-direction: column;
    transform: rotate(90deg);
    align-items: center;
    max-width: 40%;
}
.step-icon img{
    height: 4rem;
    transform: rotate(-90deg);
}
.step-icon{
    margin-top: 8rem;
}
.step-txt-head{
    font-size: 3.2rem;
    margin: 1rem auto;
    width: fit-content;
    font-weight: bold;
}
.step-txt{
    margin-top: 5.5rem;
}
.step-txt p{
    font-size: 1.4rem;
    text-align: center;
}
.step2{
    background:url(./NFT-DEV/step2@3x.png);
    background-size: contain;
    height: 60rem;
    background-repeat: no-repeat;
    width: 60rem;
    /* background-color: red; */
    position: relative;
}
.step2-content{
    position: absolute;
    top: 2rem;
    left: 16.5rem;
}
.step2-txt{
    margin-top: 7rem;
}

.step3{
    background:url(./NFT-DEV/step3@3x.png);
    background-size: contain;
    height: 60rem;
    background-repeat: no-repeat;
    width: 60rem;
    /* background-color: red; */
    position: relative;
}
.step3-content{
    top: 2rem;
    left: 16.5rem;
}
.step3-txt{
    margin-top: 7rem;
}

.step4{
    background:url(./NFT-DEV/step4@3x.png);
    background-size: contain;
    height: 60rem;
    position: relative;
    background-repeat: no-repeat;
    width: 110rem;
    /* background-color: red; */
}
.step4-content{
    position: absolute;
    left: 65rem;
    top: 2rem;
    gap: 2rem;
    max-width: 20%;
}

.step2-wrapper{
    position: absolute;
    top: 45rem;
    left: 20rem;
}
.step3-wrapper{
    position: absolute;
    top: 87rem;
    left: 35rem;
}
.step4-wrapper{
    margin-top: 61rem;
}
.info-colors{
    display: flex;
    gap: 2rem;
}
.step-business{
    display: flex;
    font-family: myriad-pro, sans-serif;
    font-weight: 1000;
    flex-direction: column;
    transform: rotate(90deg);
    align-items: center;
    gap: .5rem;
    position: absolute;
    left: -27rem;
    top: 99rem;
    font-weight: 1000;
}
.step-business h1{
    font-size: 10rem;
    font-weight: bold
}
.step-business span{
    font-size: 2.8rem;
}
.info-colors div{
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
}
.color1{
    background-color: #FEA702;
}
.color2{
    background-color: #FF694C;
}
.color3{
    background-color: #37C8E3;
}
.color4{
    background-color: #A9CF55;
}

.testimonial-container{
    margin: 10rem 0;
}
.testimonial-head{
    font-size: 5rem;
    font-family: ebrima;
    font-weight: bolder;
    background-image: linear-gradient(to right, #29abe2, #199ae8, #3f87e7, #696fde, #8e50c9);
    color: white;
    max-width: 60%;
    margin: auto;
    padding: 2rem;
    border-radius: 5rem;
    text-align: center;
}
.testimonial-card{
    background-color: #D9F7FF;
    height: 33rem;
    width: 33rem;
}
.testimonial-card:hover .light-tes{
    transform: scale(1.1);
}
.testimonial-card:hover .black-tes{
    transform: scale(1.1);
}
.testimonial-card:hover .tes-main{
    top: 3rem;
}
.light-tes{
    background-color: #D9F7fF;
    height: 19.6rem;
    position: relative;
    transition: all 400ms ease-in-out;
}
.black-tes{
    background-color: #4B4D51;
    height: 13.4rem;
    margin-top: 1rem;
    position: relative;
    transition: all 400ms ease-in-out;
}
.comment-box img{
    height: 20rem;
    position: absolute;
    left: 2rem;
    top: -9rem;
}
.tes-profile img{
    height: 12rem;
    width: 12rem;
    border-radius: 100%;
}
.tes-profile{
    position: absolute;
    top: -6rem;
    left: 2.8rem;
}
.tes-comment{
    position: absolute;
    font-size: 1.4rem;
    text-align: center;
    color: black;
    max-width: 80%;
    margin:0px auto;
    left: 3rem;
}
.tes-main{
    display: flex;
    flex-direction: column;
    font-size:4rem;
    font-family: haetten;
    letter-spacing: .2rem;
    color: #FF233B;
    width: fit-content;
    font-weight: bold;
    position: absolute;
    left: 19rem;
    top: 5rem;
    transition: all 400ms ease-in-out;
}
.tes-main span{
    font-size: 2rem;
    color: black;
}
.tes-commenter{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: .2rem;
    top: -8rem;
    right: 3rem;
}
.tes-name{
    font-size: 1.8rem;
    font-weight: bold;
}
.tes-commenter span{
    font-size: 1.4rem;
}
.stars{
    display: flex;
    gap: .5rem;
}
.stars i{
    font-size: 1rem;
    color: red;
}
.testimonial-card-container{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 4rem;
    gap: 4rem;
    place-items: center;
}
.portfolio-wrapper{
    padding: 2rem;
}
.portfolio-container{
    background: url(./NFT-DEV/portfolio-cover@3x.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 90rem;
    position: relative;
    max-width: 100%;
    margin: 4rem;
}
.port-head{
    font-size: 6rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
}
.nft-container{
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    max-width: 20%;
    margin-top: 34rem;
    margin-left: 10rem;
}
.nft-head{
    font-family: Arial, Helvetica, sans-serif;
    font-size:12rem;
    color: #0000FF;
    font-weight: bold;
}
.nft-container span{
    font-size: 2.1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: #703215;
}
.nft-container p{
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-top: 10rem;
    color: #703215;
}

.que-head {
    font-size: 5rem;
    font-family: ebrima;
    font-weight: bolder;
    background-image: linear-gradient(to right, #29abe2, #199ae8, #3f87e7, #696fde, #8e50c9);
    color: white;
    max-width: 60%;
    margin: auto;
    padding: 2rem;
    border-radius: 5rem;
    text-align: center;
}



/* web-dev page starts here */
.web-container{
    background: url(./web-dev/web-body.svg) no-repeat;
    background-size: cover;
}
.web-banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -19rem;
    height: 60rem;
    padding: 0 6rem;
}
.web-banner-img img{
    height: 45rem;
}
.web-content{
    font-family: myriad;
    max-width: 30%;
}
.web-content h2{
    font-size: 10rem;
    color: #084C94;
    font-weight: 1900;
}
.web-content span{
    font-size: 4rem;
    color: #084C94;
    font-weight: 700;
}
.web-content p{
    font-size: 1.8rem;
    font-family: 'open sans' sans-serif;
    margin: 1rem 0;
}
.cat-head{
    font-size: 5rem;
    font-family: ebrima;
    font-weight: 1000;
    background-image: linear-gradient(to right, #29abe2, #72acf2, #aaabf7, #daaaf0, #ffaae1);
    max-width: 40%;
    text-align: center;
    border-radius: 4rem;
    margin: auto;
}
.cat-container{
    display: flex;
    justify-content: center;
    margin: 5rem 0;
}
.cate1{
    background: url(./web-dev/cate1.svg) no-repeat;
    background-size: contain;
    height: 30rem;
    width: 60rem;
}
.cate2{
    background: url(./web-dev/cate2.svg) no-repeat;
    background-size: contain;
    height: 30rem;
    width: 60rem;
    margin-left: -22rem;
}
.cate-des{
    font-family: script;
    font-size: 5rem;
    color: white;
    background-image: linear-gradient(to right, #29abe2, #199ae8, #3f87e7, #696fde, #8e50c9);
    max-width: 60%;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    padding: 1rem;
    margin: 2rem 0;
    margin-left: 40%;
}
.yellow-cate{
    background: url(./web-dev/yellow-category.svg);
}
.yellow-parallel{
    background: url(./web-dev/yellow-parallel@3x.png);
    background-size: 100% 100%;
}
.red-cate{
    background: url(./web-dev/red-category_1.svg);
}
.red-parallel{
    background: url(./web-dev/red-parallel@3x.png);
    background-size: 100% 100%;
}
.green-cate{
    background: url(./web-dev/Green-category.svg);
}
.green-parallel{
    background: url(./web-dev/green\ parallel.svg);
    background-size: 100% 100%;
}

.process-container{
    height: 200rem;
    position: relative;
}
.process-head{
    background-image: linear-gradient(to right, #29abe2, #199ae8, #3f87e7, #696fde, #8e50c9);
    color: white;
    font-size: 4rem;
    font-family: Ebrima;
    font-weight: bold;
    padding: 1rem 2rem;
    max-width: 60%;
    text-align: center;
    margin-top: 10rem;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
}
.process-illus img{
    height: 200rem;
    position: absolute;
    left: 30%;
}
.process-content{
    font-family: myriad;
    display: flex;
    align-items: center;
}
.process-content-wrapper{
    width: 30%;
    text-align: justify;
    margin-left: 4rem;
}
.process-content h2{
    font-size: 3rem;
    letter-spacing: .2rem;
    margin:1rem 0;
}
.process-content p{
    font-size: 1.8rem;
    color: gray;
}
.process1{
    padding: 12rem 0rem;
}
.process2{
    /* background-color: beige; */
    padding: 10rem 0;
}
.process3{
    /* background-color: #199ae8; */
    padding: 8rem 0;
}
.process4{
    /* background-color: #E3462D; */
    padding: 10rem 0;
}
.process5{
    /* background-color: #703215; */
    padding: 8rem 0;
}
.process6{
    /* background-color: #3f3fb5; */
    padding: 10rem 0;
}

.process2 .process-content-wrapper,.process4 .process-content-wrapper,.process6 .process-content-wrapper{
    margin-left:90rem;
}

.web-port{
    background: url(./web-dev/web-portfolio-cover.svg) no-repeat;
    height: 110rem;
    background-size: contain;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 95%;
    margin: auto;
}
.web-port h2{
    font-size: 6rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 4rem;
}
.web-port span{
    font-size: 2.4rem;
    color: #FE9DBB;
}
.web-cate-card{
    background: url(./web-dev/-web-cate-card@3x.png) no-repeat;
    height: 40rem;
    background-size: 100% 100%;
}
.web-cate-card .blue-content-wrapper{
    font-family: myriad;
    display: flex;
    justify-content: space-between;
    max-width: 60%;
    margin: auto;
    align-items: center;
}

/* custom-software page starts here */
.custom-container{
    background: url(./custom-software/custom-cover.svg) no-repeat;
    background-size: cover;
}
.custom-banner{
    display: flex;
    justify-content: space-between;
    margin-top: -10rem;
    padding: 0 4rem;
}
.custom-img img{
    height: 60rem;
}
.custom-content{
    display: flex;
    flex-direction: column;
    font-family: ebrima;
    padding: 0 2rem;
    gap: .5rem;
    margin-top: 8rem;
    margin-left: -23rem;
    max-width: 40%;
}
.custom-content h2{
    font-size: 5rem;
    color: #0000FF;
    font-weight: 1000;
    align-self: flex-end;
    width: fit-content;
}
.custom-content span{
    font-size: 3.2rem;
    font-weight: 1000;
    align-self: flex-end;
}
.custom-content p{
    font-size: 1.8rem;
    text-align: justify;
}
.custom-illus{
    position: absolute;
    left: 40%;
}
.custom-illus img{
    height: 160rem;
}
.custom-pro-content-wrapper{
    max-width: 20%;
    margin-right:15rem;
}
.custom-process-content{
    font-family: myriad;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.custom-pro-content-wrapper h2{
    font-size: 4rem;
    letter-spacing: .2rem;
}
.custom-pro-content-wrapper p{
    font-size: 1.8rem;
    text-align: justify;
    color: gray;
}
.custom-pro-content2{
    margin-top: 10rem ;
    justify-content: flex-start;
}
.custom-pro-content-wrapper2{
    margin-left: 10%;
}
.custom-process-content3{
    margin-top: 10rem;
}
.custom-process-content4{
    margin-top: 6rem;
    justify-content: flex-start;
}
.custom-process-content5{
    margin-top: 6rem;
}
.custom-port-container{
    background: url(./custom-software/custom-soft-port.svg) no-repeat;
    background-size: contain;
    width: 90%;
    font-family: Arial, Helvetica, sans-serif;
    height: 100rem;
    margin: 4rem auto;
}
.custom-port-header{
    font-size: 5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: .5rem 6rem;
    background-color: #FE9DBB;
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;
    margin-bottom: -12rem;
}
.custom-port-header h2{
    color: #FF0000;
}


/* css for mobile app starts here */
.mobile-container{
    background:url(./mobile-app/mobile-body.svg) no-repeat;
    background-size: cover;
}
.mobile-app-banner{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    margin-top: -17rem;
    align-items: center;
    height: 60rem;
    padding: 0 4rem;
}
.mobile-content{
    font-family: ebrima;
    max-width: 30%;
}
.mobile-content h2{
    font-size: 6rem;
    color: #0000FF;
}
.mobile-content span{
    font-size: 2.4rem;
    font-weight: bolder;
    align-self: flex-end;
}
.mobile-content p{
    margin-top: 1rem;
    font-size: 1.4rem;
    text-align: justify;
    font-weight: bold;
}
.mobile-img img{
    height: 50rem;
}
.mobile-app-cate{
    background: url(./mobile-app/mobile-category.svg) no-repeat;
    background-size: contain;
    width: 60%;
    height: 40rem;
    margin: 2rem auto;
}
.mobile-port-container{
    background: url(./mobile-app/mobile-port_1@3x.png) no-repeat;
    background-size: 100% 100%;
    position: relative;
    height: 100rem;
    width: 100%;
}

.mobile-port-content{
    padding: 0 6rem;
}
.mobile-port-content h2{
    font-family: ebrima;
    font-size: 8rem;
    color: #2E3192;
    letter-spacing: .4rem;
}
.mobile-port-content h3{
    font-family: myriad;
    font-size: 6rem;
    color: #E3462D;
}
.mobile-port-content p{
    color: white;
    font-size: 1.8rem;
    max-width: 50%;
}
.rot-port{
    font-size: 7rem;
    position: absolute;
    font-family: myriad;
    color: white;
    letter-spacing: .4rem;
    font-weight: bolder;
    top: 55rem;
    left: -10rem;
    transform: rotate(-90deg);
}

/* staff-page starts here */
.staff-container{
    background: url(./staff-agum/staff-agumetation-body@3x.png) no-repeat;
    background-size: cover;
}
.staff-banner{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: -15rem;
    height: 60rem;
}
.staff-img img{
    height: 50rem;
}
.staff-content{
    font-family: ebrima;
    max-width: 40%;
}
.staff-content h2{
    font-size: 6rem;
    font-size: bolder;
    color: #ED1E66;
}
.staff-content span{
    font-size: 3rem;
    font-weight: bolder;
}
.staff-content p{
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 2rem;
}

.staff-pro-container{
    margin-top: 4rem;
    position: relative;
    overflow-y: hidden;
    height: 140rem;
}
.staff-pro-card1,.staff-pro-card2{
    background:url(./staff-agum/staff-pro-card1.svg) no-repeat;
    background-size: contain;
    height: 40rem;
    width: 40%;
    font-family: ebrima;
}
.staff-step-head{
    font-size: 4rem;
    font-family: ebrima;
    color: white;
    margin-left: 10rem;
}
.step-1,.staff-pro-step1{
    font-size: 1.8rem;
    color: black;
    background-color: white;
    height: 6rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}
.staff-pro-step1{
    font-size: 2.8rem;
    color: black;
    background-color: white;
    border: .1rem solid #199ae8;
    height: 5rem;
    width: 5rem;
}
.step-1{
    position: absolute;
    right: -3rem;
    top: 11rem;
}
.staff-pro-card2{
    background: url(./staff-agum/staff-pro-card2.svg) no-repeat;
}
.staff-pro-card1{
    position: absolute;
    left: 50%;
    z-index: 6;
}
.staff-pro-card2{
    position: absolute;
    top: 20rem;
    left:15%;
    z-index: 5;
}
.staff-pro-card3{
    position: absolute;
    top: 40rem;
    z-index: 4;
}
.staff-pro-card4{
    position: absolute;
    top: 60rem;
    z-index: 3;
}
.staff-pro-card5{
    background: url(./staff-agum/staff-pro-card2.svg) no-repeat;
    position: absolute;
    top: 80rem;
    z-index: 2;
}
.staff-pro-card6{
    position: absolute;
    top: 100rem;
    z-index: 1;
}





@media (max-width:768px){
    html{
        font-size: 30%;
    }
    nav{
        flex-direction: row-reverse;
    }
    .nav-bar{
        display: block;
    }
    nav ul{
        display: none;
    }
    .what-content{
        max-width: 100%;
    }
    .project-ex{
        max-width: 95%;
    }
    .about-img img{
        height: 50rem;
    }
    .banner-img img{
        height: 45rem;
    }
    .banner{
        height: 60rem;
    }
    .blue-de{
        left: 24rem;
    }
    .ser-img1,.ser-img3{
        left: 25.5rem;
    }
    .ser-img5{
        left: 27.5rem;
    }
    .ser-img2,.ser-img4{
        left: 69rem;
    }
    .process2 .process-content-wrapper,.process4 .process-content-wrapper,.process6 .process-content-wrapper{
        margin-left: 90rem;
    }
    .process4{
        margin-top: 8rem;
    }
    .process6{
        margin-top: 5rem;
    }
}
@media (max-width:580px){
    html{
        font-size: 23%;
    }
    .service-content{
        max-width: 40%;
    }
    .company-logo{
        display: grid;
        grid-template-columns: auto;
        gap: 5rem;
    }
    .about-container{
        flex-direction: column;
        padding: 4rem;
    }
    .about-content{
        max-width: 100%;
        padding: 0;
    }
    .what-content-container{
        flex-direction: column;
        gap: 4rem;
        padding: 4rem;
    }
    .banner-img img{
        height: 35rem;
    }
    input[type=checkbox] {
        transform: scale(1);
    }
    .category-card{
        grid-template-columns: auto;
    }
    .number-card-container,.testimonial-card-container{
        grid-template-columns: auto auto;
    }
    .step-container{
        margin: 1rem;
        padding: 8rem 0;
    }
    .blue-de{
        left: 15rem;
    }
    .ser-img1,.ser-img3{
        left: 17rem;
    }
    .ser-img5{
        left: 19rem;
    }
    .ser-img2,.ser-img4{
        left: 61rem;
    }
    .service-5{
        max-height: 25rem;
    }
    .process4{
        margin-top: 6rem;
    }
    .process6{
        margin-top: 4rem;
    }
}
@media(max-width:468px){
    html{
        font-size: 20%;
    }
    .process-illus img{
        height: 250rem;
    }
    .banner-img img,.nft-banner-img img{
        height: 25rem;
    }
    .nft-banner-content{
        max-width: 50%;
    }
    .banner{
        height: 50rem;
    }
    .banner-content-container{
        padding: 6rem 0;
    }
    .footer-container{
        width: 90%;
    }
    .service-content{
        max-width: 45%;
    }
    .service-flexbox{
        height: 45rem;
    }
    .service-2{
        height: 45rem;
    }
    .service-5{
        max-height: 35rem;
    }
    .number-card-container,.testimonial-card-container{
        grid-template-columns: auto ;
    }
    .step-container{
        margin: 0;
        padding: 0;
    }
    .nft-container{
        margin-top: 25rem;
    }
    .nft-head{
        font-size: 9rem;
    }
    .custom-pro-content-wrapper{
        max-width: 25%;
        margin-right:4rem;
    }
    .step-1{
        margin-left: 43rem;
    }
    .blue-de{
        left: 15rem;
    }
    .ser-img1,.ser-img3{
        left: 17rem;
    }
    .ser-img5{
        left: 18.5rem;
    }
    .ser-img2,.ser-img4{
        left: 60rem;
    }
    .mobile-img img{
        height: 30rem;
    }
    .mobile-content{
        max-width: 50%;
    }
    .custom-illus{
        left: 33%;
    }
    .custom-pro-content-wrapper2{
        margin-left: 5%;
    }
    .process-illus img{
        left: 30rem;
    }
    .process2{
        margin-top: 9rem;
    }
    .process3{
        margin-top: 10rem;
    }
    .process4{
        margin-top: 9rem;
    }
    .process5{
        margin-top: 10rem;
    }
    .process6{
        margin-top: 7rem;
    }
    .process-container{
        height: 260rem;
    }
    .process-content-wrapper{
        width: 25%;
    }
}
@media (max-width:380px){
    .nft-container{
        margin-top: 25rem;
        margin-left: 8rem;
    }
    .custom-illus{
        left: 33%;
    }
    .custom-pro-content-wrapper2{
        margin-left: 5%;
    }
    .blue-de{
        left: 5rem;
    }
    .ser-img1,.ser-img3{
        left: 7rem;
    }
    .ser-img5{
        left: 8.5rem;
    }
    .ser-img2,.ser-img4{
        left: 50rem;
    }
    .mobile-img img{
        height: 25rem;
    }
    .mobile-content{
        max-width: 40%;
    }
    .process-container{
        height: 250rem;
    }
    .process2{
        padding: 10rem 0;
    }
    .process3{
        padding: 4rem 0;
    }
    .process4{
        padding: 12rem 0rem;
        margin-top: 12rem;
    }
    .process5{
        padding: 2rem 0;
    }
    .process6{
        padding: 10rem 0rem;
        margin-top: 10rem;
    }
    .process2 .process-content-wrapper,.process4 .process-content-wrapper,.process6 .process-content-wrapper{
        margin-left: 60rem;
    }
    .process-illus img{
        left: 5rem;
    }
}
@media (max-width:310px){
    html{
        font-size: 15%;
    }
}
@media (min-width:769px) and (max-width:1024px){
    html{
        font-size: 40%;
    }
    .blue-de{
        left: 25rem;
    }
    .process4{
        margin-top: 4rem;
    }
}
@media (min-width:769px) and (max-width:840px){
    .banner-img img{
        height: 45rem;
    }
}
@media (min-width:841px) and (max-width:1200px){
    .banner-img img{
        height: 45rem;
    }
    .blue-de{
        left: 25rem;
    }
    .process2 .process-content-wrapper,.process4 .process-content-wrapper,.process6 .process-content-wrapper{
        margin-left: 100rem;
    }
    .process4{
        margin-top: 6rem;
    }
    .process6{
        margin-top: 4rem;
    }
}
@media (min-width:1025px) and (max-width:1200px){
    html{
        font-size: 50%;
    }
}
@media (min-width:1201px){
    html{
        font-size: 60%;
    }
    .service-content{
        max-width: 40%;
    }
    .banner{
        height: 60rem;
    }
    .blue-de{
        left: 25rem;
    }
    .process4{
        margin-top: 8rem;
    }
    .process6{
        margin-top: 4rem;
    }
}
@media (min-width:1500px){
    html{
        font-size: 65%;
    }
    .banner{
        height: 55rem;
    }
    .blue-de{
        left: 25rem;
    }
}
@media (min-width:1900px){
    html{
        font-size: 85%;
    }
    .blue-de{
        left: 25rem;
    }
}
@media(min-width:2400px){
    html{
        font-size: 100%;
    }
}
@media(min-width:3000px){
    html{
        font-size: 120%;
    }
}
@media (min-width:3500px){
    html{
        font-size: 150%;
    }
}
@media(min-width:3700px){
    html{
        font-size: 220%;
    }
}
@media (min-width:4700px){
    html{
        font-size: 250%;
    }
}

.quad{
    background-color: yellow;
    clip-path: polygon(0 0, 100% 0, 66% 99%, 0% 100%);
    height: 15rem;
    width: 40rem;
    font-family: ebrima;
    display: flex;
    align-items: center;
}
.description-card-wrapper{
    padding: 0 4rem;
}
.description-card{
    background-color: white;
    height: 20rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 12rem 0;
    transition: all 400ms ease-in-out;
    filter: drop-shadow(0px 40px 10px rgba(0, 0, 0, 0.30));
}
.description-card p{
    font-family: myriad;
    max-width: 30%;
    overflow: hidden;
    font-size: 1.6rem;
}

.triangle{
    background-color: white;
    height: 10rem;
    width: 15rem;
    position: absolute;
    bottom: -10rem;
    left: 50%;
    cursor: pointer;
    clip-path: polygon(51% 63%, 0 0, 100% 0);
}
.inner-triangle{
    clip-path: polygon(51% 63%, 0 0, 100% 0);
    height: 6rem;
    width: 9rem;
    background-color: yellow;
    margin: auto;
}
.quad h2{
    width: 50%;
    text-align: center;
    margin-left: 4rem;
    color: white;
    font-size: 2.4rem;
}
#description-card-one,#description-card-two,#description-card-three,#description-card-four,#description-card-five,#description-card-six,#description-card-seven{
    transition: all 500ms ease-in-out;
}
#description-card-one .quad{
    background-color: #EE8322;
}
#description-card-two .quad{
    background-color: #E92B46;
}
#description-card-three .quad{
    background-color: #008F4C;
}
#description-card-four .quad,#description-card-four .inner-triangle{
    background-color: #199ae8;
}
#description-card-five .quad,#description-card-five .inner-triangle{
    background-color: #199ae8;
}
#description-card-six .quad,#description-card-six .inner-triangle{
    background-color: #199ae8;
}
#description-card-seven .quad,#description-card-seven .inner-triangle{
    background-color: #199ae8;
}
#description-card-one .inner-triangle{
    background-color: #EE8322;
}
#description-card-two .inner-triangle{
    background-color: #E92B46;
}
#description-card-three .inner-triangle{
    background-color: #008F4C;
}
