*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html,body{
    font-size: 62.5%;
    overflow-x: hidden;
}
@font-face {
    font-family: ebrima;
    src: url(ebrima.ttf);
}

body{
    background-image: url(./photofile/body.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.banner{
    background-image: url(./photofile/banner@3x.png);
    background-size: 100% 100%;
    background-repeat: none;
    height: 60rem;
}
.logo{
    font-size: 4rem;
    font-family: ebrima;
    font-weight: bold;
    color: white;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
}
.nav-bar i{
    font-size: 3.2rem;
    color: white;
    cursor: pointer;
}
.nav-bar{
    display: none;
}
nav ul{
    display: flex;
    gap: 5rem;
}
nav > ul > li > a{
    font-size: 1.4rem;
    color: white;
    font-family: ebrima;
    padding: .5rem .7rem;
    border-radius: .2rem;
    box-shadow: inset 0 0 0 0 #ED1E66;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
nav > ul > li > a:hover{
    box-shadow: inset 100px 0 0 0 #ED1E66;
}

/* responsive nav */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    font-family: ebrima;
  }
  .overlay-content {
    position: relative;
    top: 20%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  .overlay a {
    padding: 15px;
    text-decoration: none;
    font-size: 3.6rem;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .overlay a:hover, .overlay a:focus {
    color: #ED1E66;
  }

  .overlay .closebtn {
    position: absolute;
    top: 2rem;
    right: 4.5rem;
    font-size: 6rem;
  }

.banner-content-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-img img{
    height: 41rem;
}
.banner-content{
    display: flex;
    flex-direction: column;
    font-family: ebrima;
    padding: 0 6rem;
}
.banner-title{
    font-size: 1.9rem;
    color: #ED1E66;
    font-weight: bold;
}
.b-head{
    font-size: 4rem;
    color: #ED1E66;
    font-weight: bolder;
    margin: 1rem 0;
    max-width: 90%;
}
.more-btn button{
    font-size: 2.4rem;
    background-color: #381DFF;
    color: white;
    border: none;
    outline: none;
    padding: 1rem 2rem;
    border-radius: 2rem;
    cursor: pointer;
}
.more-btn button:hover{
    background-color: #ED1E66;
    transition: .3s;
}
/*
what-we do section starts here */

.what-container{
    background: url(./photofile/wh-we-do-cover@3x.png) no-repeat;
    background-size: cover;
    margin-top: 1rem;
    position: relative;
}
.what-content-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
}
.what-img img{
    height: 55rem;
}
.what-content > h2{
    font-size: 4rem;
    color: #ED1E66;
    font-family: ebrima;
    width: fit-content;
}
.what-content p{
    font-size: 1.8rem;
    color: black;
    font-weight: bold;
    font-family: ebrima;
    margin: 1.5rem 0;
}
.learn-btn button{
    background-color: #381DFF;
    outline: none;
    border: none;
    font-size: 2.4rem;
    font-family: ebrima;
    color: white;
    cursor: pointer;
    border-radius: 2rem;
    padding: 1rem 2rem;
}
.what-content{
    max-width: 30%;
    z-index: 1;
}
.dot img{
    position: absolute;
    height: 60rem;
    top: 10rem;
}
.project-ex{
    text-align: center;
    font-family: ebrima;
    font-size: 4.6rem;
    font-weight: bolder;
    color: #381DFF;
    background-color: #e8dde2;
    max-width: 70%;
    margin: 4rem auto;
    border-radius: 8rem;
    padding: 2rem 12rem;
}
.project-ex > span{
    color: #ED1E66;
}

/* services starts here */
.service-container{
    position: relative;
}
.service-flexbox{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60rem;
    padding: 0 8rem;
}
.service-content{
    font-family: ebrima;
    max-width: 45%;
    padding: 2rem;
    z-index: 10;
}
.service-flexstart{
    justify-content: flex-start;
}
.service-2{
    max-height: 50rem;
}
.service-3{
    max-height: 40rem;
}
.service-5{
    max-height: 30rem;
}
.ser-head{
    font-size: 2.4rem;
    font-weight: bolder;
}
.service-btn button{
    font-size: 1.8rem;
}
.service-content > p{
    font-size: 1.6rem;
    margin: 1rem 0;
    color: #A09292;
}
.blue-de img{
    height: 260rem;
}
.blue-de{
    position: absolute;
    top: -6rem;
    left: 8rem;
}


/* digital part starts here */
.digital-sec-container{
    margin-top: 20rem;
    background: url(./photofile/digital-sol-part-cover@3x.png);
    font-family: ebrima;
    padding-bottom: 5rem;
}
.digital-header{
    font-size: 4.6rem;
    text-align: center;
    color: #ED1E66;
    font-weight: bolder;
    max-width: 50%;
    margin: auto;
}
.digital-header span{
    color: #381DFF;
}
.achievment{
    display: flex;
    justify-content: space-around;
    background-color: #97a6ea;
    padding: 2rem;
    margin: 4rem 0;
}
.achie-txt{
    font-size: 2.7rem;
    text-align: center;
    font-weight: bolder;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 50%;
}
.achie-txt span{
    font-size: 5.7rem;
    font-weight: bolder;
}
.logo1 img{
    height: 6rem;
}
.logo3 img{
    height: 8rem;
}
.company-logo{
    display: flex;
    justify-content: space-around;
    padding: 4rem 0;
}
.logo-2 img{
    height: 14rem;
}
.logo1,.logo3{
    align-self: flex-end;
}

/* about-container starts here */
.about-container{
    display: flex;
    align-items: center;
    background:url(./photofile/about-cover@3x-100.jpg);
    justify-content: space-between;
    padding: 6rem 0;
}
.about-img img{
    max-height: 50rem;
}
.about-content{
    font-family: ebrima;
    padding: 2rem  6rem;
}
.about-content h2{
    font-size: 4.9rem;
    font-weight: bolder;
}
.about-content p{
    font-size: 1.6rem;
    margin: 1.5rem 0;
    font-weight: bold;
}


/* connnect-container starts here */
.connect-container{
   background-image: url(./photofile/connect-cover_1@3x.png);
   background-repeat: no-repeat;
   background-size: 100% 100%;
   height:100rem;
   font-family: ebrima;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: -2rem;
   position: relative;
}
.connect-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    border-radius: 1rem;
    justify-content: center;
    background-color: white;
}
.connect-input-ctrl{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}
.flex-input{
    display: flex;
    gap: 2rem;
}
.input-ctrl input,textarea{
    width: 100%;
}
.connect-head{
    font-size: 5.1rem;
    font-weight: bold;
}
.input-ctrl input,.input-ctrl textarea{
    outline: none;
    padding: 2rem;
    font-size: 1.8rem;
    border-radius: 4rem;
}
input[type=checkbox] {
    transform: scale(2);
}
.terms-box{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.8rem;
    gap: 2rem;
}
.terms-box span{
    color: #381DFF;
}
.send-btn button{
    outline: none;
    border: none;
    background-color: #381DFF;
    color: white;
    font-size: 2.8rem;
    padding: 2rem;
    border-radius: 3rem;
    cursor: pointer;
}
.send-btn{
    width: fit-content;
    margin: auto;
}
.send-btn button:hover{
    background-color: #ED1E66;
    transition: .3s;
}


/* contact part starts here */
.contact-container{
    background-image: url(./photofile/contact-cover@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 90rem;
    margin-top: -50rem;
}
.contact-card-container{
    display: flex;
    justify-content: center;
    gap: 4rem;
}
.contact-card{
    display: flex;
    font-family: ebrima;
    font-weight: bold;
    gap: 2rem;
    margin-top: 55rem;
}
.contact-info{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.6rem;
    font-weight: bold;
}
.contact-icon img{
    height: 4rem;
}

/* footer starts here */
footer{
    background: url(./photofile/footer@3x.png) no-repeat;
    height: 60rem;
    background-size: cover;
    margin-top: -20rem;
    font-family: ebrima;
    padding: 0 8rem;
}
.f-head{
    margin-bottom: 2rem;
    font-weight: bold;
}
footer li {
    margin: 1.5rem 0;
    font-size: 1.8rem;
    color: black;
}
footer li a{
    color: black;
}
footer li a:hover{
    color: #ED1E66;
    transition: .3s;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.footer-row{
    margin-top: 8rem;
}
.copywright{
    font-size: 1.8rem;
    margin-top: 20rem;
    width: fit-content;
    font-weight: bold;
}


@media (max-width:768px){
    html{
        font-size: 30%;
    }
    .nav-bar{
        display: block;
    }
    nav ul{
        display: none;
    }
    .what-content{
        max-width: 100%;
    }
    .project-ex{
        max-width: 95%;
    }
    .about-img img{
        height: 50rem;
    }
    .banner-img img{
        height: 45rem;
    }
    .banner{
        height: 60rem;
    }
}
@media (max-width:580px){
    .blue-de img{
        height: 200rem;
        opacity: .3;
    }
    .service-content{
        max-width: 100%;
    }
    .service-flexbox{
        height: 30rem;
    }
    .company-logo{
        display: grid;
        grid-template-columns: auto;
        gap: 5rem;
    }
    .about-container{
        flex-direction: column;
        padding: 4rem;
    }
    .about-content{
        max-width: 100%;
        padding: 0;
    }
    .what-content-container{
        flex-direction: column;
        gap: 4rem;
        padding: 4rem;
    }
    .banner-img img{
        height: 35rem;
    }
}
@media(max-width:468px){
    html{
        font-size: 20%;
    }
    .banner-img img{
        height: 25rem;
    }
    .banner{
        height: 50rem;
    }
    .banner-content-container{
        padding: 6rem 0;
    }
}
@media (min-width:769px) and (max-width:1024px){
    html{
        font-size: 40%;
    }
}
@media (min-width:769px) and (max-width:840px){
    .banner-img img{
        height: 45rem;
    }
}
@media (min-width:841px) and (max-width:1200px){
    .banner-img img{
        height: 45rem;
    }
}
@media (min-width:1025px) and (max-width:1200px){
    html{
        font-size: 50%;
    }
}
@media (min-width:1201px){
    html{
        font-size: 60%;
    }
    .service-content{
        max-width: 40%;
    }
}
@media (min-width:1500px){
    html{
        font-size: 70%;
    }
}
@media(min-width:2000px){
    html{
        font-size: 100%;
    }
}
@media(min-width:3000px){
    html{
        font-size: 280%;
    }
}